
    body {
        background: linear-gradient(90deg, rgb(36, 35, 0) 0%, rgb(9, 121, 37) 35%, rgb(255, 123, 0) 100%);

    }
    .error{
        color:red;
    }

    .form-group {
        border: 1px solid blue;
        font-weight:900;
        font-size:20px;
        color:white;
    }
    .form-group img{

        width: 200px;
        height:200px; 
        margin-left:30px;
        border:5px solid royalblue;
        transform:scale(1,1);transition: all 1s ease-out;
    }

    .form-group img:hover{transform:scale(1.2,1.2);
    }

    .form-control{
        height:40px; 
        width:100%;
    }

    .form-control:hover{
        -moz-box-shadow: 0 0 5px 5px #888;
        -webkit-box-shadow: 0 0 5px 5px#888;
        box-shadow: 0 0 5px 5px #888;
        background-color:#5599FF;

    }


    
   h1{
        font-weight:900;
        color:rgb(199, 12, 199);
    }
  
    body img{
        margin-left:auto;
        margin-right:auto;        
    }